header {
    text-align: left;
}

.material-symbols-outlined{
    color:hotpink;
    
    border-style: solid;
    border-color: hotpink;

    background-color: aliceblue;
 
}
body {
    font-family: Arial;
    background-color: #e3b6db;
    text-align: center;
    margin: 20px;
}

#Danni {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: solid, rgb(0, 0, 0);

}

#Mail {
    border-radius: 50%;
    width: 50px;
    height: 40px; 

}